requests==2.31.0
python_telegram_bot==11.1.0
beautifulsoup4==4.7.0
discord.py>=1.0.0
lxml==4.9.1
pymessenger==0.0.7.0
flask==2.3.2
waitress==2.1.2
plivo==4.1.5
selenium==3.141.0
webdriver-manager==1.8.2
